<div class="container">

  <form style="margin-bottom: 4em; margin-top: 2em;" class="center-block"
        ng-submit="search()">
    <div class="input-group col-sm-offset-1 col-sm-10">
      <input type="search" class="form-control"
             placeholder="type what you want to search"
             ng-model="filter" focus="true">
      <span class="input-group-btn">
        <button class="btn btn-default" tooltip="Filter" type="submit">
          <i class="fa fa-search"></i>
        </button>
        <a class="btn btn-success" tooltip="New Card" type="button"
           ng-href="#/cards/create/">
          <i class="fa fa-sticky-note-o"></i>&nbsp;
          <i class="fa fa-plus"></i>
        </a>
      </span>
    </div>
  </form>

  <table class="table table-hover table-striped"
         style="margin-bottom: 4em">
    <thead>
      <tr>
        <th style="width: 75%">Front</th>
        <th style="width: 15%">Tags</th>
        <th style="width: 10%">Views</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in vm.cards">
        <td>
          <a tooltip="Update" ng-href="#/cards/update/{{ card._id }}">
            <strong>{{ card.front }}</strong>
          </a>
        </td>
        <td><span class="label label-info">history</span></td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

</div>
