<div class="container">
  <form>
    <div class="form-group">
      <label for="front">Front</label>
      <textarea class="form-control" rows="3" id="front" ng-model="vm.card.front"></textarea>
    </div>
    <div class="form-group">
      <label for="back">Back</label>
      <textarea class="form-control" rows="3" id="back" ng-model="vm.card.back"></textarea>
    </div>
    <div class="text-right">
      <a class="btn btn-default" ng-href="#/cards"><i class="fa fa-undo"></i>&nbsp; Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-danger" ng-click="vm.delete()"><i class="fa fa-trash-o"></i>&nbsp; Delete</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary" ng-click="vm.update(vm.card)"><i class="fa fa-pencil"></i>&nbsp; Update</button>
    </div>
  </form>
  <p ng-if="errors">{{vm.errors}}</p>
</div>
